<a [routerLink]="['/high-alerts']" class="btn btn-primary">High Alerts</a>
<hr>
<table class="table">
  <thead>
  <tr>
    <th>VIN</th>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>RedlineRpm</th>
    <th>Max Fuel Volume</th>
    <th>Last Service Date</th>
    <th>Historical Alerts</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let vehicle of vehicles">
    <td>{{vehicle.vin}}</td>
    <td>{{vehicle.make}}</td>
    <td>{{vehicle.model}}</td>
    <td>{{vehicle.year}}</td>
    <td>{{vehicle.redlineRpm}}</td>
    <td>{{vehicle.maxFuelVolume}}</td>
    <td>{{vehicle.lastServiceDate | date}} </td>
    <td><a [routerLink]="['/vehicles', vehicle.vin]">Alerts</a></td>
  </tr>
  </tbody>

</table>


